<app-header></app-header>
<br>
<br>
<br>

   
<!-- <ul class="heroes">
  <li *ngFor="let t of teamdata" (click)="onSelect(t)"   data-toggle="modal" data-target="#myModal"> -->
  <!-- <a routerLink="/dashboard/:team_id"></a> -->
    <!-- <span class="badge">{{t.team_id}}</span>
     {{t.team_name}}
     <span class="badge" style="float:right">{{t.amount | currency}}</span>
  </li>
</ul> -->
<div class="box">
  <div class="data">
          
  <ul *ngFor="let t of teamdata" (click)="onSelect(t)"   data-toggle="modal" data-target="#myModal">

    <span id="name">{{t.team_name}}</span>
  <span id="amount" style="float:right">
    {{t.amount  | currency}}
</span>
    <!-- <div id="add">{{t.amount}}</div> -->
  </ul>
  </div>
  </div>
<app-footer></app-footer>
