

.box{
  padding-left: 20%;
  box-shadow: 10px 10px 10px #b3b3b3;
}
h1{
text-align: center;
color: green;
}
.list{
border: 1px solid white;
width: 500px;
height : 100px;
box-shadow: 10px 10px 10px #b3b3b3;
}
ul{ 
border: 1px solid gray; 
border-radius: 3px; 
padding: 7px; 
margin-bottom: 30px; 
width: 70%; 
margin-left: 7.3%; 
 float: left; 
 box-shadow: 10px 10px 10px #b3b3b3;
} 
#amount{ 
float: right; 
color: black; 
 font-style: bold; 
font-weight: 20px; 
} 
#name{ 
color:black; 
float:top; 
} 
/* #name{ 
font-size: 15px; 
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
color: black;
padding : 210px;
}  */
#add{ 
color: black;
}
.flex-container{
    display: flex;
  }
  
  
  .login-page {
    width: 360px;
    margin: auto;
  }
  .selected {
      background-color: #CFD8DC !important;
      color: white;
    }
    .heroes {
      margin: 0 0 2em 0;
      list-style-type: none;
      padding: 0;
      width: 50em;
    }
    .heroes li {
      cursor: pointer;
      position: relative;
      left: 0;
      background-color: #EEE;
      margin: .5em;
      padding: .3em 0;
      height: 1.6em;
      border-radius: 4px;
    }
    .heroes li.selected:hover {
      background-color: #BBD8DC !important;
      color: white;
    }
    .heroes li:hover {
      color: #607D8B;
      background-color: #DDD;
      left: .1em;
    }
    .heroes .text {
      position: relative;
      top: -3px;
    }
    .heroes .badge {
      display: inline-block;
      font-size: small;
      color: white;
      padding: 0.8em 0.7em 0 0.7em;
      background-color: #607D8B;
      line-height: 1em;
      position: relative;
      left: -1px;
      top: -4px;
      height: 1.8em;
      margin-right: .8em;
      border-radius: 4px 0 0 4px;
    }
    .foot{ 
      position: fixed; 
      bottom:0; 
      left:0; 
      }